altair==5.2.0
easyocr==1.7.1
matplotlib==3.8.2
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.2.0
Pillow==10.1.0
Pillow==10.2.0
scikit_learn==1.4.0
streamlit==1.30.0
torch==2.1.2+cu118
torchvision==0.16.2
